<!DOCTYPE HTML>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body>
<style>
    .container {
        margin-top: 40px;
    }
</style>
<div class="container">
    <h1>Miro Dice Master</h1>
    <h4 style="margin-bottom: 30px">Dice Launcher for Miro Realtimeboard</h4>

    <p>
        <a href="{{oauthUrl}}" target="_blank">Install the app</a><br>
    </p>
</div>

</body>
</html>